@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import "@/assets/prime-style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat-base {
  font-family: "Montserrat", sans-serif;
}

/*@font-face {
  font-family: 'BlackMango';
  src: url('@/assets/fonts/black-mango-bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.BlackMango {
  font-family: 'BlackMango', sans-serif;
}*/
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}
i {
  line-height: 0;
  font-size: 18px;
}

body {
  font-size: 14px;
}

/* main side-bar */
.sidebar-item {
  @apply rounded-lg w-full p-1.5;
  @apply flex justify-between items-center border border-transparent;
}

.sidebar-item .user-settings {
  @apply transition-colors duration-100 ease-in-out;
  &:hover {
    @apply bg-blue-200;
  }
}
.menu-item {
  @apply rounded-lg w-full p-2 cursor-pointer text-slate-700;
  @apply flex gap-2.5 items-center;
  @apply transition-colors duration-100 ease-in-out;
  p {
    @apply m-0;
    font-size: 15px;
  }
  i {
    @apply block;
  }
  &:hover {
    @apply bg-blue-200 text-blue-700;
  }
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

